body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida tabnde CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    min-width: 800px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.topTitle1 {
    float: left;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  40px;
    font-weight: bold;
    font-style: italic;
    margin-left:20px;
    margin-top: 15px;
    color: #000000;
}

.topTitle2 {
    float: left;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  40px;
    font-weight: bold;
    font-style: italic;
    margin-left:10px;
    margin-top: 15px;
    color: #0000FF;
}

.topTitle3 {
    clear: both;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  20px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: -5px;
    color: #777777;
}

.titleLogo {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.bottomText {
    margin-top: 10px;
}

.tabBlock {
    clear:both;
    color:#000000;
}

.ui-tabs-panel {
    background-color:#F5F5FF!important;
    color:#000000!important;
}